
@import "../../global.scss";

.about {
  padding: 5%;
 

  @include desktop {
     padding: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
  }


  .aboutParagraph{
    width: 100%;

    h2{
      text-align: center;
      padding: 2%;
      font-size: 2.5em;
    }
    
    @include desktop {
      width: 50%;
    }

    p{
      text-align: justify;
      font-size: 1.2em;
    
      @include desktop { 
        margin: 20px 40px 0 0;
      }
    }
  }

.aboutImg{
    position: relative;
    width: 100%;

    min-height: 300px;
    
    @include desktop {
      width: 50%;
     
    }


      img{
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
  }

}
