.experts {
    padding: 100px;
    .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 40px;

        .expertItem{
            width: 250px;
            margin: 15px;

            .imgBx{
                position: relative;
                width: 100%;
                height: 300px;

                img{
                    position: absolute;
                    top:0;
                    left:0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .expertText{
                padding: 15px 0 5px;

                h3{
                    font-weight: 300;
                }
            }
        }
    }
}