//font-family: 'Berkshire Swash', cursive;
//font-family: 'Poppins', sans-serif;
.app{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    min-height: 1000px;

    h2{
        font-family: 'Berkshire Swash', cursive;
    }

    p{
        font-weight: 300;
        color:#111;
        font-family: 'Poppins', sans-serif;
    }
}